<div class="window">
  <h1>About</h1>
</div>

<div class="window" fade>
  <h2 id="Omnigoat Design">Omnigoat Design Bureau</h2>
  <div class="post-copy">
    <p>Omnigoat Design Bureau provides services from print and graphic design to web development (both front end and back-end).
      It is currently run out of Oakland, CA by its sole proprietor, Kyle Halvorson. This site was built with homebrew CSS and Javascript using Ruby on Rails.</p>
  </div>
</div>

<div class="window" fade>
  <h2 id="Kyle">Kyle</h2>
  <div class="post-copy">
    <p>I am a graphic designer and aspiring web developer born and raised in California.</p>
    <p>My guiding philosophy in life is to take as few shortcuts as possible. If it's possible to do something myself or do it the hard way, I will always
      be tempted to deconstruct the problem and solve it myself. </p>
    <p>I have dipped my toes in a number of different creative disciplines over the years, including
      animation, audio engineering, creative writing, graphic design, illustration, photography, photo post-processing, videography and video editing.</p>
  </div>
</div>

<div class="window" fade>
  <h2 id="Omnigoat">What's an Omnigoat?</h2>
  <div class="post-copy">
    <p>"Omnigoat" is a symbol that I have been using arbitrarily as an icon since about 2006 or 2007.</p>
    <p>The name came from an idea for an animated short featuring a tiny black
    baby goat with red eyes that is an unwitting conduit for unspeakable evil power.
    The actual short in question was never realized, but the name stuck with me and I have been using it as an icon ever since. </p>
    <p>Interestingly, goats aren't even necessarily my favorite animal, but I am fascinated with the way goats are used symbolically. </p>
  </div>
</div>
