<div class="window">
  <h1>About</h1>
</div>

<div class="window" fade>
  <h2>omnigoat design bureau</h2>
  <div id="description">
    <p>Omnigoat design bureau provides services from print and graphic design to web development (both front end and back-end).
      It is currently run out of Oakland, CA by its sole proprietor, Kyle Halvorson. This site was built with homebrew CSS and Javascript using Ruby on Rails.</p>
  </div>
</div>

<div class="window" fade>
  <h2>Kyle</h2>
  <div id="description">
    <p>Kyle Halvorson is a graphic designer and aspiring web developer born and raised in California.</p>
  </div>
</div>

<div class="window" fade>
  <h2>What is Omnigoat?</h2>
  <div id="description">
    <p>Kyle Halvorson is a graphic designer and aspiring web developer born and raised in California.</p>
  </div>
</div>
