<div class="window" fade>
  <h1>Contact</h1>
</div>

<div class="window" id="email" fade>
  <h2>e-mail</h2>
  <a href="mailto:kylejhalvorson@gmail.com?subject=Omnigoat Design Inquiry" class="contact-link">kylejhalvorson@gmail.com</a>
</div>

<div class="window" id="twitter" fade>
  <h2>twitter</h2>
  <a href="http://www.twitter.com/omnigoatdesign" class="contact-link">@omnigoatdesign</a>

</div>
