<div class="background">
  <div class="scanlines"></div>
</div>

<div class="splash">
  <div id="title">
    <span>omnigoat design</span>
  </div>
  <div class="bubble-container">
    <% @images.each do |i| %>
      <%= link_to "", post_path(i.post.category.name, i.post.id), class: "image-bubble", :data => {:image => i.pic.url} %>
    <% end %>
  </div>
  <div id="goat"></div>
</div>
