<%- title "OmniGoat Design" %>

<% @posts.each do |p| %>
  <div class="window post-preview" fade>
    <%= render 'posts/post', :@post => p %>
  </div>
  <div class="window spacer">
    <hr>
  </div>
<% end %>

<% if pages(Post.all, @q) > 1 then %>
<div class="window blank">
    <%= render "posts/pagination", pages: pages(Post.all, @q), size: 7 %>
</div>
<% end %>

<% content_for :javascript do %>
  catBadges = document.querySelectorAll(".post-banner-badge")
<% end %>
