/*
 *= require_tree .
 *= require_self
*/

 @import 'brand';

html {
  margin: 0;
  overflow-y: scroll;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: $font-stack;
}

p {
  line-height: 1.8em;
  margin: 15px;
}

a {
  color: $brand-2;

  &:hover {
    color: $brand-1;
  }

  &:active {
    color: $brand-3;
  }

}

h1, h2, h3, h4, h5 {
  display: block;
  margin: auto;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1em;
  @include small {letter-spacing: 2px;}
}

blockquote {
  border-left: 4px solid #900;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  color: #999;
}

.content {
  box-sizing: border-box;
  margin: auto;
  padding-top: 35px;
  @include small {padding-top: 0px}; // remove the padding that accomodates the scrollbar
}

.bottom-fixed {
  bottom: 0;
  position: fixed;
  @include small {position: static};
}

#debug {
  @extend .bottom-fixed;
  @include shading;
  @include lightbox;
  padding: 15px;
	left: 0;
	margin: 0;
	z-index: 15;
  transition: 0.5s;
  @include small {display: none};
}

.window {
  box-sizing: border-box;
  margin: 15px auto;
  margin-bottom: 30px;
  padding-bottom: 45px;
  border-bottom: $brand-light-3 1px solid;
  transition: 0.5s;
  width: 1024px;
  background: $brand-light-2;
  @include small {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    border-bottom: solid $brand-light-3 1px;
    };
  @include medium {max-width: 720px};
  @include large {max-width: 1024px};
}

.footer {
  font-family: arial;
  text-align: center;
  color: #999;
  margin: 15px;
  @include no-select;
}

.notification {
  background-color: #0f0f0f;
  background-image: image-url('bg.png');
  border-bottom: #333;
  box-shadow: inset 0px 0px 8px #000;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  display: none;

  &.danger {
    color: #f00;
    text-shadow: 0px 0px 8px #f00;
  }
  &.success {
    color: #5c5;
    text-shadow: 0px 0px 8px #5c5;
    }
  &.notice {
    color: #33d;
    text-shadow: 0px 0px 8px #33d;
  }
}

.badge {
  @include lightbox;
  @include shading;
  padding: 10px;
  height: 0.8em;
  line-height: 0.8em;
  min-width: 0.8em;
  vertical-align: baseline;
  text-align: center;
  display: inline-block;
  border-right: 1px solid $brand-light-3;

  &:first-child {
    border-radius: 50em 0 0 50em;
    }
  &:last-child {
    border-radius: 0 50em 50em 0;
    border-right: none;
    }
  &:only-child {
    border-radius: 50em 50em 50em 50em;
    border-right: none;
    }

}
