/*
 *= require_tree .
 *= require_self
*/

 @import 'brand';

html {
  margin: 0;
  overflow-y: scroll;
}

body {
  background: #f0f0f0;
  margin: 0;
  font-family: $font-stack;
  line-height: 2em;
  font-size: 20px;
  font-weight: 300;
}

::selection {
  background: $brand-1;
  color: white;
}

a {
  color: $brand-2;
  &:hover {color: $brand-1;}
  &:active {color: $brand-3;}
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
  color: $brand-2;
  @include small {
    text-shadow: none;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0px;
    //text-transform: none;
  }
}

blockquote {
  border-left: 4px solid #900;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  color: #999;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
  @include raise(2px);
}

.content {
  box-sizing: border-box;
  margin: auto;
  padding-top: 35px;
  perspective: 100vw;
  perspective-origin: top;
  @include small {padding-top: 0px}; // remove the padding that accomodates the scrollbar
}

.bottom-fixed {
  bottom: 0;
  position: fixed;
  @include small {position: static};
}

// primary organization unit for most content on the website.
// direct children of windows (the substance of the windows) have their margins strictly controlled by window edge logic
// windows are responsive to viewport size
.window {
  @include raise(2px);
  @include responsive-transitions;
  background: $brand-light-2;
  box-sizing: border-box;
  width: 1024px;
  margin: 0px auto;
  border-bottom: $brand-light-3 1px solid;
  overflow-y: auto;
  overflow-x: hidden;

  &:first-of-type {
    margin-top: 50px;
  }

  &.spacer {
    height: 2em;
    line-height: 2em;
    background: transparent;
    box-shadow: none;
    overflow: hidden;
    @include small {
      display: none;
    }

    & > hr {
      border-width: 1px;
      border-style: solid;
      border-top-color: #ddd;
      border-left-color: #ddd;
      border-bottom-color: #fff;
      border-right-color: #fff;
      margin: 1em !important;
    }

  }

  &.blank {
    background: transparent;
    border-bottom: transparent;
    box-shadow: none;
  }

  @include small {
    @include raise(0px);
    width: 100%;
    margin-top: 0px;
    border-bottom: solid $brand-light-3 1px;
    &:first-child {
      margin-top: 0px;
    }
    };
  @include medium {max-width: 720px};
  @include large {max-width: 1024px};

  // tricky CSS logic to control the margins of content within the window unless expressly forbidden by either the window or the content
  &:not(.ignore-window-edge) > *:not(.ignore-window-edge) {
    margin-left: 1em;
    margin-right: 1em;
    &:first-child {
      margin-top: 1em;
    }
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.footer {
  font-size: 14px;
  line-height: 1em;
  font-family: arial;
  text-align: center;
  color: #999;
  margin: 1em;
  @include no-select;
}

.badge {
  @include lightbox;
  padding: 10px;
  height: 0.8em;
  line-height: 0.8em;
  min-width: 0.8em;
  vertical-align: baseline;
  text-align: center;
  display: inline-block;
  border-right: 1px solid $brand-light-3;

  &:first-child {
    border-radius: 50em 0 0 50em;
    }
  &:last-child {
    border-radius: 0 50em 50em 0;
    border-right: none;
    }
  &:only-child {
    border-radius: 50em 50em 50em 50em;
    border-right: none;
    }

}

.notification {
  @include backend;
  position: fixed;
  width: 100%;
  top: 35px;
  border-bottom: #333;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  display: none;
  z-index: 8000;
  @include small {
    position: static;
    top: 0px;
  }
}

#debug {
  @include no-select;
  @include backend;
  @extend .bottom-fixed;
  border: 2px inset #333;
  font-size: 14px;
  line-height: 1em;
  padding: 15px;
	left: 0;
	margin: 0;
	z-index: 15;
  transition: 0.5s;
  @include small {position: static};
}
