@import 'brand';

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include small {
    @include ignore-window-edge;
  }
}

.contact-panel {
  box-sizing: border-box;
  padding: 15px;
  flex-basis: 50%;


  @include medium {
    flex-basis: 100%;
  }

  @include small {
    flex-basis: 100%;
    padding: 15px;
  }
}

.contact-link {
  @include invis-link;
  display: flex;
  box-sizing: border-box;
  margin: 0px;
  text-decoration: none;
  background: $brand-3;
  color: $brand-light-3;
  transition: box-shadow $time-f, background $time-f, color $time-f;
  min-height: 150px;
  @include raise(2px);
  @include small {
    min-height: 100px;
  }

  &:hover {
    color: $brand-light-1;
    background: $brand-2;
    @include raise(4px);
  }

}

.contact-icon {
  display: block;
  box-sizing: border-box;
  //background: url("category.png");
  //background-size: contain;
  flex-basis: auto;
  padding: 15px;

  @include small {
    display: none;
  }
}

.contact-details {
  line-height: 1.5em;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  @include small {
    font-size: 5vw;
  }
}

.contact-label {
  font-size: 1.5em;
  font-weight: 500;
  @include small {
    display: none;
  }
}

.contact-value {
  font-size: 1em;
  font-weight: 300;
}
