@import 'brand';

.corner-button {
  @include invis-link;
  @include lightbox;
  @include shading;
  font-weight: 700;
  font-size: 2em;
  line-height: 40px;
  position: relative;
  display: block;
  text-align: center;
  vertical-align: middle;
  float: right;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  right: -5px;
  top: -105%;

  &:before { content:"\00d7"; }
}

.panel-button {
  @include invis-link;
  @include lightbox;
  @include shading;
  display: inline-block;
  padding: 5px;
}

.image-nav {
  margin-bottom: 0px;
}

.image-link {
  background-size: cover;
  background-position: center;
  overflow: visible;
}

.image {
  max-width: 100%;
}
