@import 'brand';

// Physical bar that spans the page width. Becomes static at small size
.navbar {
  @include shading;
  background: $gradient-1;
  position: fixed;
  box-sizing: border-box;
  color: white;
  z-index: 1000;
  height: 35px;
  width: 100%;
  line-height: 35px;
  @include no-select;
  @include small {
    position: static;
    height: auto;
  };

  // Container for the links on the navbar. Responds to window width.
  .navlinks {
    display: flex;
    flex-wrap: no-wrap;
    margin: auto;
    width: 1024px;
    @include small {width: 100%};
    @include medium {max-width: 720px};
    @include large {max-width: 1024px};
  }

  // subset of links with dropdowns
  .nav-section {}

  .btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    border-right: 1px solid rgba(0,0,0, 0.3);
    border-left: 1px solid rgba(255,255,255, 0.1);
    text-align: center;
    background: transparent;
    color: $brand-light-3;
    padding: 0px 15px;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.2s;

    &:hover, &[active] {
      border-left: 1px solid rgba(0,0,0, 0.3);
      border-right: 1px solid rgba(255,255,255, 0.1);
      color: white;
      background: black;
      transition: 0.2s;
    }

    &.brand {
      padding: 0px;
      width: 45px;
      background-image: image-url("goat-icon.png");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }

  .header {
    display: inline-block;
    vertical-align: top;
  }

  .links {
    display: inline-block;
    vertical-align: top;
  }

}

.count-badge {
  display: inline-block;
  background: black;
  border-left: 1px solid $brand-dark-3;
  border-top: 1px solid $brand-dark-3;
  border-right: 1px solid $brand-3;
  border-bottom: 1px solid $brand-3;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  line-height: 1em;
  min-width: 1em ;
  border-radius: 50em;
  padding: 5px;
  margin-left: 4px;
}

.dropdown {
  background: $gradient-1;
  display: none;
  position: absolute;
  top: 35px;
  box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
  min-width: 100px;
  @include small {
    visibility: hidden;
    box-shadow: none;
  }

  .btn {
    display: block;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding-left: 0;

    li {
      display: block;
      padding: 5px 15px;
    }
  }
}
