@import 'brand';

.navbar { // Physical bar that spans the page width. Becomes static at small size
  border-bottom: 1px solid $brand-dark-3;
  box-sizing: border-box;
  background: $brand-dark-2;
  position: fixed;
  color: white;
  z-index: 9000;
  height: 35px;
  width: 100%;
  line-height: 35px;
  @include shading(2px);
  @include no-select;
  @include small {
    position: static;
  };

  .navlinks { // Container for the links on the navbar. Responds to window width.
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    width: 1024px;
    transition: width $time-m, max-width $time-m;
    @include small {width: 100%};
    @include medium {max-width: 720px};
    @include large {max-width: 1024px};
  }

  .nav-section { // subset of links with dropdowns
    display: inline-block;
    @include small {
      flex: 1;
    }
  }

  .btn {
    box-sizing: border-box;
    display: block;
    //border-right: 1px solid rgba(0,0,0, 0.3);
    //border-left: 1px solid rgba(255,255,255, 0.1);
    text-align: center;
    background: transparent;
    color: $brand-light-3;
    padding: 0px 15px;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.2s;

    &[active] {
      color: white;
      background: $brand-3;
      transition: 0.2s;
      //border-left: 1px solid rgba(0,0,0, 0.3);
      //border-right: 1px solid rgba(255,255,255, 0.1);
    }

    &:hover {
      background: $brand-3;
    }

    &.brand {
      height: 35px;
      padding: 0px;
      width: 45px;
      background-image: image-url("goat-icon.png");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      @include small {
        width: 100%;
      }
    }
  }

  .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }

  .header {
    display: inline-block;
    vertical-align: top;
  }

  .links {
    display: inline-block;
    vertical-align: top;
  }

}

.count-badge {
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height:100%;
}

.dropdown { //div element that houses an entire dropdown list
  display: none;
  background: $brand-3;
  position: absolute;
  top: 35px;
  min-width: 100px;
  @include shading(2px);
  @include small {
    width: 100%;
    left: 0px;
    z-index: 9000;
  }

  .dropdown-link { //the anchor element that wraps around the dropdown option to make it clickable
    text-decoration: none;
  }

  .dropdown-list { //the list that contains the dropdown options
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding-left: 0;

    .dropdown-option { //each item in the dropdown menu
      display: flex;
      padding: 5px;
      align-items: stretch;
      min-width: 150px;
      vertical-align: middle;
      text-align: center;
      color: $brand-light-3;
      transition: 0.2s;

      @include small {
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background: $brand-2;
      }

      .dropdown-label {
        display:inline-block;
        flex: 1;
        min-width: 100px;
        box-sizing: border-box;
        padding: 0px 15px;
        text-align: center;

        @include small {
          flex: none;
        }
      }

      .dropdown-badge {
        display:inline-block;

        background-size: contain;
        background-position: center;
        background-repeat:no-repeat;
        flex-basis: 35px;
        width: 35px;
        box-sizing: border-box;
        padding: 0px;
        @include small {height: 35px;}
      }

    }
  }
}
