@import 'brand';

.panel-collection {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  @include ignore-window-edge;
  @include small {
    margin: 0;
    width: 100%;
    padding: 0px;
  }
}

.panel-container {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  height: 250px;
  flex-basis: 25%;
  // flex: 25%;

  @include small {
    flex-basis: 100%;
    padding: 0;
    margin: auto;
    height: 25vh;
    min-height: 100px;
    max-height: 250px;
  }

  @include medium {
    flex-basis: calc(100%/2);
    height: 200px;
  }

}

.panel {
  @include invis-link;
  // @include darkbox;
  background: transparent;
  line-height: 1em;
  display: block;
  box-sizing: border-box;
  height: 100%;
  height: 100%;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.5);
  overflow: hidden;
  transition: 0.5s;

  @include small {
    border-bottom: 1px solid rgba(255,255,255, 0.3);
  }

  &.post-link {
    background: $brand-3;
  }
  &.category-link {
    // @include darkbox;

  }
  &.tag-link {
    background: black;
  }
}

.panel-background {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;

  &.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    opacity: 0.2;
    transition: 0.5s;
  }

  &.mesh {
    background-attachment: fixed;
    background-size: cover;
  }

}

.panel-details {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  line-height: 1em;
}

.post-title {
  color: $brand-light-1;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.post-description {
  color: $brand-light-3;
  font-size: 14px;

}

.category-name {
  color: $brand-light-1;
  text-transform: uppercase;
  font-size: 24px;
  line-height:24px;
  display: block;
  width: 100%;
  text-align: center;
}

.category-posts {
  color: $brand-light-3;
  display: block;
  width: 100%;
  text-align: center;
}

.tag-name {
  color: white;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.tag-count {
  text-align: center;
  font-size: 14px;
  color: #ddd;
}

//for tiny-square representations

.minipost-group {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.minipost-square {
  flex-basis: 15px;
  margin: 2px;
  border-radius: 2px;
  display: inline-block;
  height: 15px;
  background: $gradient-1;
  vertical-align: middle;
}
