@import 'brand';

.post-partial {
  margin: auto;
  margin-bottom: 75px;
  border-bottom: $brand-light-3 2px solid;
}

.postnav {
  @include invis-link;
  @include no-select;
  height: 100%;
  text-align: center;
  display: flex;
  flex-pack: justify;
  flex-direction: row;

  .page {
    flex: 1;
    box-sizing: border-box;
    display: inline-block;
  }

  a {
    @include invis-link;
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    &.left:before { content:"\2039";};
    &.right:before { content:"\203A";}
    &.first:before { content:"\2039\2039"}
    &.last:before { content:"\203A\203A";}
    &.current {
    }
    &.pagination {
      @include lightbox;
      @include shading;
    }
    &.pagination.current {
      @include darkbox;
    }
  }

  .quicknav {
    flex: 1;
    font-size: 2em;
  }

  .title {
    flex: 8;
    h1 {
      margin: 0;
      display: block;
      padding: 10px;
    }
  }
}

.text-copy {
  margin: 15px;
  p {
    margin: 0px;
    margin-bottom: 15px;
  }
}

.post-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .post-image {
    box-sizing: border-box;
    flex-basis: 150px;
    align-self: center;
    height: 150px;
    padding: 5px;
    @include small {flex-basis: 100px; height: 100px;}

    a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50em;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 2px 4px rgba(0,0,0, 0.3);
      overflow: hidden;
    }
  }

}

.post-details {
  margin: 15px;
}

.post-detail{
  font-size: 0.8em;
  color: #bbb;
  font-style: italic;
  transition: 0.2s;

  &:hover {
    color:$brand-1;
  }
}
