@import 'brand';

.post-partial {
  margin: auto;
  margin-bottom: 75px;
  border-bottom: $brand-light-3 2px solid;
}

// div element that determines the amount of space that should be allowed for title and background image in post view
.banner-spacer {
  @include no-select;
  min-height: 40vh;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  flex-pack: justify;

  .title {
    @include ignore-window-edge;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 500;
    text-shadow: $shadow-3;
    color: white;
  }
}

.post-background {
  position: absolute;
  top:0;
  justify-content: center;
  overflow: hidden;
  top: 35px;
  height: calc(100vh - 35px);
  width: 100%;
  background: $brand-light-3;
  z-index: -50;

  &.blank {
    height: 40vh;
    box-shadow: none;
  }

  @include small {
    height: 40vh;
    top: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 -4px 8px rgba(0,0,0,0.3);
  }

  .icon {
    height: 40vh;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
  }
}

.post-preview {
  @include small {
    display: flex;
    flex-direction: column;
    height: calc(50% - 0px);
    height: 50vh;
  }
}

.post-banner {
  display: flex;
  height: 400px;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: inset 0px 0px 32px rgba(0,0,0,0.3);
  @include ignore-window-edge;
  @include invis-link;

  @include small {
    flex: 1;
    background-attachment: fixed;
  }
}

.post-banner-text {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $brand-light-1;
  text-shadow: $shadow-3;
  padding: 1em;
  line-height: 1em;
}

.post-banner-title {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.25em;
  text-transform: uppercase;

}

.post-banner-detail {
  font-size: 0.75em;
  line-height: 1.2em;

}

.post-banner-badge {
  // @include ignore-window-edge;
  @include no-select;
  @include invis-link;
  @include raise(2px);
  @include ignore-window-edge;
  box-sizing: border-box;
  color: rgba(255,255,255, 0.3);
  background: $brand-dark-3;
  border: solid 1px rgba(255,255,255, 0.1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75em;
  line-height: 1em;
  position:absolute;
  display: block;
  padding: 1em 2em;
  right: 1em;
  top: 1em;
  overflow-x: visible;
  transition: $time-f;

  @include small {
    display: none;
  }

  &:hover {
    color: $brand-light-1;
    opacity: 1;
  }

}

// module on the top of post view that contains the title and forward / backwards arrows.
.postnav {
  text-align: center;
  display: flex;
  flex-direction: row;
  @include ignore-window-edge;

  .page {
    flex: 1;
    box-sizing: border-box;
    display: inline-block;
  }

  a {
    @include invis-link;
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    &.left:before { content:"\2039"};
    &.right:before { content:"\203A"}
    &.first:before { content:"\2039\2039"}
    &.last:before { content:"\203A\203A"}
    &.pagination {
      background: $brand-light-2;
      @include raise(2px);
    }
    &.pagination.current {background: $brand-light-1}
  }

  & > .quicknav {
    flex: 1;
  }
}

.post-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .post-image {
    box-sizing: border-box;
    flex-basis: 150px;
    align-self: center;
    height: 150px;
    padding: 5px;
    @include small {flex-basis: 100px; height: 100px;}

    a {
      @include no-select;
      @include invis-link;
      @include raise(2px);
      @include ignore-window-edge;
      box-sizing: border-box;
      color: rgba(255,255,255, 0.3);
      background: $brand-dark-3;
      border: solid 2px rgba(0,0,0, 0.3);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75em;
      line-height: 1em;
      text-align: center;
      padding: 5px;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
  }

}

.post-details {
  margin: 1em;
}

.post-detail{
  font-size: 0.8em;
  color: #bbb;
  font-style: italic;
  transition: 0.2s;

  &:hover {
    color:$brand-1;
  }
}
