<nav class="navbar"><%=
  link_to 'omnigoat design', all_path, class: "brand btn" %><%=
  link_to 'portfolio', categories_path, class:"btn" %><%=
  link_to 'about', about_path, class:"btn" %><%=
  link_to 'contact', contact_path, class:"btn" %>
</nav>
